.text-sm {
  font-size: 14px !important;
  color: #666 !important;
}

.text-indent {
  text-indent: 2em;
}

.no-indent {
  text-indent: 0;
}

.text-md {
  font-size: 16px !important;
}

.text-sm-only {
  font-size: 14px;
  padding: 3px 5px;
  border-radius: 3px;
}

.input-line {
  display: flex;
  align-items: center;
  height: 45px;
}

.input-line span {
  width: 20px;
}

.input-line input {
  flex: 1;
  appearance: none;
  border: 0;
  border-bottom: 1px solid #999;
}

table {
  border: 1px solid #999;
  border-collapse: collapse;
  width: 100%;
  text-align: center;
}

tr td {
  border: 1px solid #999;
  height: 45px;
}

.image-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 20px;
}

.image-container .img {
  flex: 1;
  margin-right: 20px;
  max-width: 80%;
}

.img::after {
  content: attr(title);
  display: block;
  margin-top: 15px;
  text-align: center;
}

.image-container img {
  width: 100%;
}

.task-title {
  font-weight: 600;
  margin: 15px 0;
}

.task-content {
  text-indent: 2em;
}

.text-input {
  display: inline-block;
  width: 100px;
  border-bottom: 1px solid #666;
}

code pre {
  padding: 20px 15px 0;
  background: rgba(0, 0, 0, .8);
  color: #fff;
  line-height: 1.5;
  font-size: 14px;
  margin-top: 20px;
  border-radius: 4px;
}
